/*글씨체*/
@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

@font-face {
    font-family: 'Galmuri9';
    src: url('../Galmuri9.ttf') format('truetype');
}


/*배경이미지*/
.introContainer {
  background-image: url(../../public/img/background.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 500px;

  color: white;
  font-family: 'Galmuri9';
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
} 

/*제목*/
.introTitle {
  height: 30%;
  width: 80vw;
  font-size: 2.5rem;
  color: white;
  text-shadow: -1px 0 pink, 0 1px pink, 1px 0 pink, 0 -1px pink;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 150%;

}

/*이미지*/

.introImgBox{
  background-color: pink;
  box-shadow: 0 0 30px white;
  height: 30%;
  border-radius:50% ;
  overflow: hidden;
  margin: 0 auto;
}

.introImg {
  height: 100%;
  width: auto;

  border-radius:50% ;
  overflow: hidden;
  vertical-align: middle;
  background-position: center;

}

.introButtons{
  height: 30%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}

.introButton {
  text-align: center;
  width: 50%;
  height: 25%;
  margin: 0px 10px;
  font-family: 'Galmuri9';
  font-size: 1.5rem;
  font-weight: bold;


  color:  rgb(13, 7, 38);
  background-color: white;
  border: 3px solid pink;
  box-shadow: 0 0 15px pink;
  border-radius: 7px;

  cursor: pointer;
} 

.introButton:hover{
  background-color: 	#C8FAC8	;
  border: 3px solid #C8FAC8;
  box-shadow: 0 0 15px #C8FAC8	;
}

/* 참여자수 */
.introCount {
  width: 80%;
  height: 10%;

  font-weight: lighter;

  /* display: flex;
  text-align: center;
  justify-content: center; */
  color: pink;
} 

