/*글씨체*/
@font-face {
  font-family: 'dalmoori';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/dalmoori.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NeoDunggeunmo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*배경이미지*/
.introContainer {
  background-image: url(../../public/img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 500px;

  color: white;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
} 

/*제목*/
.introTitle {
  height: 30%;
  width: 80vw;
  font-family: "dalmoori";
  font-size: 3rem;
  color: white;
  text-shadow: -1px 0 pink, 0 1px pink, 1px 0 pink, 0 -1px pink;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 150%;

}

/*이미지*/

.introImgBox{
  background-color: pink;
  box-shadow: 0 0 30px white;
  height: 30%;
  border-radius:50% ;
  overflow: hidden;
  margin: 0 auto;
}

.introImg {
  height: 100%;
  width: auto;

  border-radius:50% ;
  overflow: hidden;
  vertical-align: middle;
  background-position: center;

}

.introButtons{
  height: 30%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}

.introButton {
  text-align: center;
  width: 70%;
  height: 15%;
  margin: 0px 10px;

  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'NeoDunggeunmo';


  color:  rgb(13, 7, 38);
  background-color: white;
  border: 3px solid pink;
  box-shadow: 0 0 15px pink;
  border-radius: 7px;

  cursor: pointer;
} 

.introButton:hover{
  background-color: 	#C8FAC8	;
  border: 0;
  box-shadow: 0 0 15px #C8FAC8	;
}

/* 참여자수 */
.introCount {
  width: 80%;
  height: 10%;

  font-family: 'NeoDunggeunmo';
  font-weight: lighter;

  /* display: flex;
  text-align: center;
  justify-content: center; */
  color: pink;
} 

