/* 폰트 */
@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

@font-face {
    font-family: 'Galmuri9';
    src: url('../Galmuri9.ttf') format('truetype');
}

.superMiniContainer{
  display: flex;
  flex-direction: column;

  width: 100vw;
}

.miniContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

  }
.miniItems{
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
}

.goresultContainer{
  width: 100%;
  display: flex;
  justify-content: center;
}

.goResultBtn{
  width: 350px;
  font-family: 'galmuri9';
  font-size: 95%;
  color: rgb(13, 7, 38);
  background-color: white;
  border: 2px solid pink;
  box-shadow: 0 0 20px white;
  border: 1px solid pink;
  border-radius: 7px;

  margin: 20px 5px;
  padding: 10px;
  cursor: pointer;
}

.goResultBtn:hover{
  background-color: pink;
  box-shadow: 0 0 20px pink;
}

/* 반응형 */
@media (max-width: 768px) {
    .miniItems {
      flex-basis: 50%;
    }
  }
  
  @media (max-width: 480px) {
    .miniItems {
      flex-basis: 100%;
    }
  }

/* MBTI 제목 */
.miniTitles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.miniTitle{
    margin: 2px;
    font-family: 'Galmuri9';
    font-size: 100%;
    font-weight: lighter;
    color: white;
    text-shadow: -1px 0 #C8FAC8, 0 1px #C8FAC8, 1px 0 #C8FAC8, 0 -1px #C8FAC8;
}


/* MBTI 이미지 */
.miniImgBox{
    background-color: #C8FAC8;
    box-shadow: 0 0 25px white;
    width: 250px;
    height: 250px;
    border-radius:50% ;
    overflow: hidden;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.miniImg{
    height: 100%;
    width: 100%;

    border-radius:50% ;
    overflow: hidden;
    vertical-align: middle;

    display: flex;
    align-items: center;
    justify-content: center;
}
