/* 폰트 */
@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

@font-face {
    font-family: 'Galmuri9';
    src: url('../Galmuri9.ttf') format('truetype');
}

/* 모바일 화면 */
@media (max-width: 768px) {
    .resultImgBox{
        height: 220px;  
    }

    .resultInfo{
        font-size : 15px;
        width: 350px;
        
    }

    .resultButtonContainer{
        width: 350px;
        font-size: 10px;
    }

    .resultButton{
        width: 163px;
    }

}

/* 웹페이지 화면 */
@media (min-width: 769px) {
    .resultContainer{
        background-image: url("../../public/img/resultbackground.jpg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;   
        width: 100%;
    }

    .resultImgBox{
        height: 250px;  
    }

    .resultInfo{
        font-size: 15px;
        width: 400px;
    }

    .resultButtonContainer{
        width: 400px;
        font-size: 13px;
    }

    .resultButton{
        width: 190px;
    }
}


.resultContainer{
    color: white;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* overflow: scroll; */
}

.resultTitles{
    height: 15%;
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: center;
    justify-content: space-evenly;

    font-size: 2rem;
    font-family: 'galmuri9';
    text-shadow: -1px 0 pink, 0 1px pink, 1px 0 pink, 0 -1px pink;
}

.resultImgBox{
    background-color: pink;
    box-shadow: 0 0 25px white;
    /* height: 30%; */
    border-radius:50% ;
    overflow: hidden;
}

.resultImg{
    height: 100%;

    border-radius:50% ;
    overflow: hidden;
    vertical-align: middle;
}

.resultInfo{
    height: 35%;
    white-space: pre-wrap;
    font-family: 'galmuri9';

    font-weight: lighter;
    display: flex;
    align-items: center;
    line-height: 130%;
    padding: 0 5px;
}

.resultButtonContainer{
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resultButtons{
    width: 100%;
    margin: 0px 10px;

    display: flex;
    justify-content: space-evenly
    ;
}

.resultButton{
    font-family: 'galmuri9';
    color: rgb(13, 7, 38);
    background-color: white;
    border: 0;
    box-shadow: 0 0 10px pink;
    border: 1px solid pink;
    border-radius: 7px;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 95%;
}

.resultButton:hover{
    background-color: 	#C8FAC8	;
    border: 1px solid #C8FAC8;
    box-shadow: 0 0 15px #C8FAC8	;
}

.retryButton{
    width: 400px;
    font-family: 'galmuri9';
    color: rgb(13, 7, 38);
    background-color: white;
    border: 0;
    box-shadow: 0 0 10px lightpink;
    border: 1px solid pink;
    border-radius: 7px;
    margin: 7px 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 95%;
}

.retryButton:hover{
    background-color:pink	;
    border: 1px solid pink;
    box-shadow: 0 0 15px pink;
}

.facebookButton {
    width: 48px;
    height: 48px;
    margin-top: 2px;
    border-radius: 24px;
  }
  

/* 돈꽃 내리기 */
.moneysnow{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    font-size: 50px;
    
}

@keyframes fall {
    from{}
    to{
        transform: translateY(100vh);
        opacity: 0;
    }
}
