/*글씨체*/
@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

@font-face {
    font-family: 'Galmuri9';
    src: url('../Galmuri9.ttf') format('truetype');
}

/* 모바일 화면 */
@media (max-width: 768px) {
    .progressBar{
        width: 300px;
    }

    .test-sub-cont{
        width: 300px;
        font-size: 25px;
    }

    .test-selectBtns {
        width: 300px;
        font-size: 20px;
    }
}


/* 웹페이지 화면 */
@media (min-width: 769px) {
    .test-container {
        background-image: url(../../public/img/background.jpg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
    }   

    .progressBar{
        width: 400px;
    }

    .test-sub-cont{
        width: 400px;
        font-size: 30px;
    }

    .test-selectBtns {
        width: 400px;
    }
}

/*배경이미지*/
.test-container {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.progressBar{
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.test-sub-cont{
    height: 40%;

    font-family: 'Galmuri9';
    color: pink;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 130%;
    padding: 0 5px;
}

.test-selectBtns {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.test-selectBtn {
    padding: 20px;
    width: 90%;
    color: rgb(13, 7, 38);
    font-family: 'Galmuri9';
    background-color: white;
    border: 0;
    box-shadow: 0 0 15px pink;
    border: 2px solid pink;
    border-radius: 7px;
    cursor: pointer;
    font-size: 1.2rem;
}

.test-selectBtn:hover {
    background-color: 	#C8FAC8	;
    border: 2px solid #C8FAC8;
    box-shadow: 0 0 15px #C8FAC8	;
}


