@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

@font-face {
    font-family: 'NeoDunggeunmo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

        
.test-container {
    background-image: url(../../public/img/background.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    /* width: 500px; */

    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.progressBar{
    height: 30%;
    width: 70%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.test-sub-cont{
    height: 30%;
    width: 90%;

    font-size: 2.5rem;
    font-family: 'NeoDunggeunmo';
    color: pink;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 130%;
    padding: 0 5px;
}

.test-selectBtns {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.test-selectBtn {
    padding: 20px;
    width: 90%;
    color: rgb(13, 7, 38);
    font-family: 'NeoDunggeunmo';
    background-color: white;
    border: 0;
    box-shadow: 0 0 15px pink;
    border: 2px solid pink;
    border-radius: 7px;
    cursor: pointer;
    font-size: 1.2rem;
}

.test-selectBtn:hover {
    background-color: 	#C8FAC8	;
    border: 2px solid #C8FAC8;
    box-shadow: 0 0 15px #C8FAC8	;
}


